.navbar{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: black;
  font-size: large;
  font-weight: bold;
  color: white;
}
.pos-p-nav{
  margin-left: auto;
  margin-right: auto;
}
.layout{
  background: rgb(236,26,5);
  background: linear-gradient(90deg, rgba(236,26,5,1) 0%, rgba(246,8,8,1) 32%, rgba(238,37,37,1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100vh;
  flex-direction: column;
  z-index: 1;
  border-image: none;
}
.loading{
  animation: rotacionar 1.5s infinite;
}
.img-size{
  width: 5rem;
  height: 5rem;
  background-image: url('../../assets/img/portal.png');
  background-size: contain;

}
@keyframes rotacionar {
  25%{
    transform: rotate(0.25turn)
  }
  50%{
    transform: rotate(0.50turn)
  }
  75%{
    transform: rotate(0.75turn)
  }
  100%{
    transform: rotate(1turn)
  }
}
.titulo-nav{
  font-family: cursive;
  color: aliceblue;
}
